<div class="row">
     <div class="col-sm-6 col-md-4 col-md-offset-4 col-sm-offset-3">
         <h1>Checkout</h1>
         <h4>{{getDateTime}}</h4>
         <h4>Your Total: KES {{total}}</h4>
         <form action="/checkout" method="post" id="checkout-form">
             <div class="row">
                 <div class="col-xs-12">
                     <div class="form-group">
                         <label for="name">Name</label>
                         <input type="text" id="name" class="form-control" required name="name">
                         </div>
                    </div>
                    <div class="col-xs-12">
                     <div class="form-group">
                         <label for="email">Email</label>
                         <input type="text" id="email" class="form-control" required>
                         </div>
                    </div> 
                    <hr>
                    <div class="col-xs-12">
                     <div class="form-group">
                         <label for="department">Department</label>
                         <input type="text" id="department" class="form-control" required name="department">
                         </div>
                    </div> 
                    <div class="col-xs-12">
                     <div class="form-group">
                         <label for="branch">Branch</label>
                         <input type="text" id="branch" class="form-control" required name="branch">
                         </div>
                    </div> 
                       
                 </div>
                 <button type="submit" class="btn btn-success">Order Now</button> 
             </div>
            
         </form>
         </div>
         </div>
         </div>
         <script type="text/javascript" src="javascripts/checkout.js"></script>


